<div class="top-nav">
    <!-- Content for the top bar -->
    <div class="top-bar-content">
        <!-- Add content here, like logo, search bar, user info -->
        <div class="header-info-left">
            <a>+372 555 55555</a>
            <button mat-button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
            <button mat-button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
            <button mat-button *ngIf="isAdmin" routerLink="/admin">Admin Dashboard</button>
            <button mat-button *ngIf="isLoggedIn && isUser" routerLink="/user">My Profile</button>
        </div>
        <div class="header-info-center">
            <img src="assets/images/image.png" alt="SDA Travel Agency">
        </div>
        <div class="header-info-right">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
        </div>
    </div>

    <!-- Navbar content -->
    <nav class="navbar" color="primary" backgroundColor="primary">
        <button mat-button routerLink="/">Home</button>
        <button mat-button [matMenuTriggerFor]="menu">Tours</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/tours">All Tours</button>
            <button mat-menu-item routerLink="/promotedTours">Example button 2</button>
            <button mat-menu-item routerLink="/promotedTours">Example button 3</button>
        </mat-menu>
        <button mat-button routerLink="/destinations">Destinations</button>
        <button mat-button routerLink="/about">About Us</button>
        <button mat-button routerLink="/contact">Contact Us</button>
    </nav>
</div>
