<h1 id="header">ADMIN API</h1>
<div class="flex-container">
    <!-- JSON Output container -->
    <div class="json-output-container">
        <pre id="jsonOutputAdmin"></pre>
    </div>
    <div class = "form-container" id="formContainer">
        <table class="fields">
        <tr>
            <td>
                 <app-custom-number-input label="Price for Adults" [(value)]="adultPrice"></app-custom-number-input>
            </td>
        </tr>
        <tr>
            <td>
                <app-custom-number-input label="Price for Children" [(value)]="childPrice"></app-custom-number-input>
            </td>
            <td><label class="childprice-label" for="childprice">childprice</label></td>
            <td><input class="childprice-input" type="number" id="childprice" value="50"/></td>
            <td class="spacer"></td>
        </tr>
        <tr>
            <td>
                 <mat-form-field class="inputs">
                    <mat-label>Departure Date</mat-label>
                    <input matInput [(ngModel)]="departureDate" [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>                   
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="inputs">
                    <mat-label>Return Date</mat-label>
                    <input matInput [(ngModel)]="returnDate" [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <app-destination-auto-complete [(destination)]="destination"></app-destination-auto-complete>
            </td>
            
        </tr>
        <tr>
            <td>
                <app-custom-number-input label="Available Seats" [(value)]="availableSeats"></app-custom-number-input>
            </td>
            
        </tr>
        <tr>
            <td>
                <app-custom-number-input label="PurchaseData Id" [(value)]="purchaseDataId"></app-custom-number-input>
            </td>
        </tr>
        <tr>
            <td>
                <app-custom-number-input label="User Id" [(value)]="userId"></app-custom-number-input>
            </td>
        </tr>
        <tr>
            <td>
                <app-custom-number-input label="Tour Id" [(value)]="tourId"></app-custom-number-input>>
            </td>
        </tr>
        <tr>
            <td>
                <mat-checkbox matInput [(ngModel)]="checked" name="checked">Promoted</mat-checkbox>
            </td>
        </tr>
    </table>
</div>
</div>
        <!-- Row for buttons -->
        <tr class="button-row">
            <div class="button-container">
                <button mat-raised-button color="primary" (click)="findAllPurchaseData()">findAllPurchaseData</button>
                <button mat-raised-button color="primary" (click)="createTour()">createTour</button>
                <button mat-raised-button color="primary" (click)="updateTour()">updateTour</button>
                <button mat-raised-button color="primary" (click)="deleteTour()">deleteTour</button>
                <button mat-raised-button color="primary" (click)="findAllByIsPurchased()">findAllByIsPurchased</button>
                <button mat-raised-button color="primary" (click)="findAllByUserId()">findAllByUserId</button>
                <button mat-raised-button color="primary" (click)="findAllUsersByTour()">findAllUsersByTour</button>
                </div>
            </tr>

    