<h1 id="header">ADMIN API</h1>
<div class="flex-container">
    <!-- JSON Output container -->
    <div class="json-output-container">
        <pre id="jsonOutputAdmin"></pre>
    </div>
    <div class = "form-container" id="formContainer">
        <table class="fields">
        <tr>
            <td>
                <!-- <mat-form-field class="inputs">
                    <mat-label>Price for an adult</mat-label>
                    <input matInput [(ngModel)]="adultPrice" name="adultPrice">
                </mat-form-field> -->
            </td>
            <td><label class="adultprice-label" for="adultprice">adultprice</label></td>
            <td><input class="adultprice-input" type="number" id="adultprice" value="100"/></td>
            <td class="spacer"></td>
        </tr>
        <tr>
            <td>
                <!-- <mat-form-field class="inputs">
                    <mat-label>Price for a child</mat-label>
                    <input matInput [(ngModel)]="childPrice" name="childPrice">
                </mat-form-field> -->
            </td>
            <td><label class="childprice-label" for="childprice">childprice</label></td>
            <td><input class="childprice-input" type="number" id="childprice" value="50"/></td>
            <td class="spacer"></td>
        </tr>
        <tr>
            <td>
                <!-- <mat-form-field class="inputs">
                    <mat-label>Departure Date</mat-label>
                    <input matInput [(ngModel)]="departureDate" [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>                   -->
            </td>
            <td><label class="departuredate-label" for="departuredate">departuredate</label></td>
            <td><input class="departuredate-input" type="date" id="departuredate" value="2024-03-17"/></td>
            <td class="spacer"></td>
        </tr>
        <tr>
            <td>
                <!-- <mat-form-field class="inputs">
                    <mat-label>Return Date</mat-label>
                    <input matInput [(ngModel)]="returnDate" [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field> -->
            </td>
            <td><label class="returndate-label" for="returndate">returndate</label></td>
            <td><input class="returndate-input" type="date" id="returndate" value="2024-03-24"/></td>
            <td class="spacer"></td>
        </tr>
        <tr>
            <td>
                <!-- <app-destination-auto-complete [(destination)]="destination"></app-destination-auto-complete> -->
            </td>
            <td><label class="destination-label" for="destination">destination</label></td>
            <td><input class="destination-input" type="text" id="destination" value="MEXICO_CITY"/></td>
            <td class="spacer"></td>
        </tr>
        <tr>
            <td>
                <!-- <mat-form-field class="inputs">
                    <mat-label>Available Seats</mat-label>
                    <input matInput [(ngModel)]="availableSeats" name="availableSeats">
                </mat-form-field> -->
            </td>
            <td><label class="availableseats-label" for="availableseats">availableseats</label></td>
            <td><input class="availableseats-input" type="text" id="availableseats" value="25"/></td>
            <td class="spacer"></td>
        </tr>
        <tr>
            <td>
                <!-- <mat-form-field class="inputs">
                    <mat-label>PurchaseData Id</mat-label>
                    <input matInput [(ngModel)]="purchaseDataId" name="purchaseDataId">
                </mat-form-field> -->
            </td>
            <td><label class="purchaseData.userId-label" for="purchaseData.userId">purchaseData.userId</label></td>
            <td><input class="purchaseData.userId-input" type="text" id="purchasedata.userid" value="1"/></td>
            <td class="spacer"></td>
        </tr>
        <tr>
            <td class="spacer"></td>
            <td><label class="user.id-label" for="user.id">user.id</label></td>
            <td><input class="user.id-input" type="text" id="user.id" value="1"/></td>
            <td class="spacer"></td>
        </tr>
        <tr>
            <td class="spacer"></td>
            <td><label class="tour.id-label" for="tour.id">tour.id</label></td>
            <td><input class="tour.id-input" type="text" id="tour.id" value="6"/></td>
            <td class="spacer"></td>
        </tr>
        <tr>
            <td class="spacer"></td>
            <td><label class="promoted-label" for="promoted">promoted</label></td>
            <td><input class="promoted-input" type="checkbox" id="promoted" /></td>
            <td class="spacer"></td>
        </tr>
    </table>
</div>
</div>
        <!-- Row for buttons -->
        <tr class="button-row">
            <div class="button-container">
                <button mat-raised-button color="primary" (click)="findAllPurchaseData()">findAllPurchaseData</button>
                <button mat-raised-button color="primary" (click)="createTour()">createTour</button>
                <button mat-raised-button color="primary" (click)="updateTour()">updateTour</button>
                <button mat-raised-button color="primary" (click)="deleteTour()">deleteTour</button>
                <button mat-raised-button color="primary" (click)="findAllByIsPurchased()">findAllByIsPurchased</button>
                <button mat-raised-button color="primary" (click)="findAllByUserId()">findAllByUserId</button>
                <button mat-raised-button color="primary" (click)="findAllUsersByTour()">findAllUsersByTour</button>
                </div>
            </tr>

    