:host {
    margin: 100px 0px;
    text-align: center;
  }

main {
    background-color: #BBDEFB;
}

.tabs .europe-content {
    text-align: center;
    flex: 1;
    /* Add other styles as needed */
  }

mat-tab .tabs{
  flex: 1;
}