<mat-dialog-content>
    <h2 mat-dialog-title>Finalize Purchase</h2>
    <mat-radio-group aria-label="Select a payment option">
      <mat-radio-button value="option1" class="payment-option">Payment option 1</mat-radio-button>
      <mat-radio-button value="option2" class="payment-option">Payment option 2</mat-radio-button>
    </mat-radio-group>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="finalizePurchase()">Finalize Purchase</button>
  </mat-dialog-actions>
  