<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>
      <h2 class="inactive underlineHover">Sign Up </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/images/user.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" [(ngModel)]="usernameOrEmail" class="fadeIn second" name="usernameOrEmail" required>
        <input type="text" [(ngModel)]="password" class="fadeIn third" name = "password" required>
        <input type="submit" class="fadeIn fourth" (click)="onLogin()" value="Log In">
      </form>
  

  
    </div>
  </div>