/* Importing Google Font */
@import url('https://fonts.googleapis.com/css?family=Poppins');

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  font-family: "Poppins", sans-serif;
}

/* Styling for Angular Material Components */
mat-form-field {
  width: 100%;
  margin: 10px 0;
}

mat-card {
  padding: 30px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  border-radius: 10px;
  margin: 20px auto;
}

.icon {
  display: flex;        /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center;  /* Center vertically */
  height: 100%;        /* Set a height for the container */
  width: 100%;          /* Set the width (optional, depending on layout) */
  margin-bottom: 1em;
  margin-top: 1em;
}

/* For larger screens */
@media (min-width: 768px) {
  mat-card {
    max-width: 600px; /* Adjust to a suitable size for larger screens */
  }
}

/* For smaller screens */
@media (max-width: 767px) {
  mat-card {
    max-width: 100%;
    padding: 20px;
  }
}

mat-tab-group {
  width: 100%;
}

/* Error Message Styles */
.error {
  padding: 16px;
  width: 100%;
  color: white;
  background-color: red;
  margin-top: 10px;
  border-radius: 5px;
}

/* Styles for Angular Material Tab Labels */
.custom-group .mat-tab-label {
  font-size: 18px; /* Adjust the size as needed */
  font-weight: bold; /* Makes the text bold */
}

/* Button Styles */
.submit-button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #56baed;
  color: white;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(95,186,233,0.4);
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #39ace7;
}

/* Animation Styles */
.fadeIn {
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
}

/* Keyframes for fadeIn */
@keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}