#page-header, .city-gallery {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    width: 100%;
  }
  
  .flex-container, .gallery-header {
    width: 100%; /* Use 100% width of their container */
    text-align: center; /* Centers the text */
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust as needed */
    gap: 20px;
    width: 80%; /* Adjust the width as per your requirement */
    margin: auto; /* Center the grid */
  }

  .city-gallery {
    max-width: 90%;
    margin: auto; /* Centers the gallery */
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates a four-column layout */
    gap: 20px; /* Adjust the gap as needed */
    margin-bottom: 5em;
  }
  
  .city {
    position: relative; /* Needed for absolute positioning of the text */
    overflow: hidden;
  }
  
  .city img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Maintain aspect ratio */
    display: block; /* Remove any extra space beneath the image */
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  
  .city:hover img {
    transform: scale(1.1); /* Zooms in the image to 110% of its original size */
    cursor: pointer;
  }

  .city-name {
    position: absolute;
    text-align: left;
    text-align: top;
    top: 10px; /* Position the text at the bottom of the image */
    left: 10px; /* Position the text from the left side of the image */
    color: white; /* Text color */
    padding: 5px;
    margin: 0; /* Remove any default margins */
  
  }
  
  .country-name {
    position: absolute;
    text-align: left;
    text-align: top;
    top: 30px; /* Position the text at the bottom of the image */
    left: 15px; /* Position the text from the left side of the image */
    color: white; /* Text color */
    padding: 5px;
    margin: 0; /* Remove any default margins */
  
  }