<body>

<form [formGroup]="searchForm" class="search-form">
  
    <!-- Destination Autocomplete Component -->
    <app-destination-auto-complete 
    [formGroup]="searchForm" 
    controlName="destination">
  </app-destination-auto-complete>

    <!-- Date Range Picker -->
    <mat-form-field id="inputs">
      <mat-label>Departure date between</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matInput matStartDate formControlName="minDate">
        <input matInput matEndDate formControlName="maxDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  
    <!-- Length Input -->
    <mat-form-field>
      <mat-label>Length (days)</mat-label>
      <input matInput formControlName="length" placeholder="Length">
    </mat-form-field>
    
    <!-- Promoted -->
    <mat-checkbox formControlName="promoted">Promoted</mat-checkbox>
    <!-- Dropdown for Sorting -->
  <mat-form-field appearance="fill">
    <mat-label>Sort by</mat-label>
    <mat-select formControlName="sort">
      <mat-option *ngFor="let option of sortOptions" [value]="option.value">
        {{ option.display }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<mat-divider></mat-divider>
  

  <section class="tour-results">
    <div class="tour-grid">
      <div *ngFor="let tour of filteredTours" class="tour-card">
        <img [src]="'/assets/images/' + tour.destination + '.jpg'" alt="{{tour.destination}}" class="tour-image">
        <div class="tour-details">
          <h3>{{formatTourDestination(tour.destination)}}</h3>
          <p class="tour-price">{{tour.adultPrice | currency}} for adults</p>
          <p class="tour-price">{{tour.childPrice | currency}} for children</p>
          <p class="tour-length">{{tour.length}} days</p>
          <p *ngIf="hasDeparted(tour.departureDate)" class="tour-departed">Already Departed</p>
          <p *ngIf="!hasDeparted(tour.departureDate)" class="tour-departure">Departs: {{tour.departureDate | date:'mediumDate'}}</p>
          <div class="tour-buttons">
          <button *ngIf="!hasDeparted(tour.departureDate)" mat-raised-button color="primary" (click)="openDialog(tour)" class="book-now">Book Now</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</body>