<h1 id="header">PURCHASEDATA API</h1>
<div class="flex-container">
    <!-- JSON Output container -->
    <div class="json-output-container">
        <pre id="jsonOutputPurchasedata"></pre>
    </div>
    <div class = "form-container" id="formContainer">
        <table class="fields">
            <tr>
                <td>
                    <mat-form-field class="inputs">
                        <mat-label>PurchaseData Id</mat-label>
                        <input matInput [(ngModel)]="purchasedataId" name="purchasedataId">
                    </mat-form-field>
                </td>  
            </tr>
            <tr>
                <td>
                    <mat-form-field class="inputs">
                        <mat-label>Number of Adults</mat-label>
                        <input matInput [(ngModel)]="numberOfAdults" name="numberOfAdults">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="inputs">
                        <mat-label>Number of Children</mat-label>
                        <input matInput [(ngModel)]="numberOfChildren" name="numberOfChildren">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="inputs">
                        <mat-label>Tour Id</mat-label>
                        <input matInput [(ngModel)]="tourId" name="tourId">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="inputs">
                        <mat-label>User Id</mat-label>
                        <input matInput [(ngModel)]="userId" name="userId">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-checkbox matInput [(ngModel)]="checked" name="checked">Promoted</mat-checkbox>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- Row for buttons -->
<tr class="button-row">
    <div class="button-container">
            <button mat-raised-button color="primary" (click)="createPurchasedata()">createPurchasedData</button>
            <button mat-raised-button color="primary" (click)="calculateTotal()">calculateTotal</button>
            <button mat-raised-button color="primary" (click)="finalizePurchase()">finalizePurchase</button>     
    </div>
</tr>
