<h1 id="header">PURCHASEDATA API</h1>
<div class="flex-container">
    <!-- JSON Output container -->
    <div class="json-output-container">
        <pre id="jsonOutputPurchasedata"></pre>
    </div>
    <div class = "form-container" id="formContainer">
        <table class="fields">
            <tr>
                <td>
                    <app-custom-number-input label="PurchaseData Id" [(value)]="purchasedataId"></app-custom-number-input>
                </td>  
            </tr>
            <tr>
                <td>
                    <app-custom-number-input label="Number of Adults" [(value)]="numberOfAdults"></app-custom-number-input>
                </td>
            </tr>
            <tr>
                <td>
                    <app-custom-number-input label="Number of Children" [(value)]="numberOfChildren"></app-custom-number-input>
                </td>
            </tr>
            <tr>
                <td>
                    <app-custom-number-input label="Tour Id" [(value)]="tourId"></app-custom-number-input>
                </td>
            </tr>
            <tr>
                <td>
                    <app-custom-number-input label="User Id" [(value)]="userId"></app-custom-number-input>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-checkbox matInput [(ngModel)]="checked" name="checked">Promoted</mat-checkbox>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- Row for buttons -->
<tr class="button-row">
    <div class="button-container">
            <button mat-raised-button color="primary" (click)="createPurchasedata()">createPurchasedData</button>
            <button mat-raised-button color="primary" (click)="calculateTotal()">calculateTotal</button>
            <button mat-raised-button color="primary" (click)="finalizePurchase()">finalizePurchase</button>     
    </div>
</tr>
