<form [formGroup]="cityForm">        
    <mat-form-field>
        <mat-label>Destination</mat-label>
        <input matInput
               formControlName="cityGroup"
               [matAutocomplete]="autoGroup">
        <mat-autocomplete #autoGroup="matAutocomplete">
            <ng-container *ngFor="let group of cityGroupOptions | async">
                <mat-optgroup [label]="group.country">
                    <ng-container *ngFor="let name of group.names">
                        <mat-option [value]="name">{{name}}</mat-option>
                    </ng-container>
                </mat-optgroup>
            </ng-container>
        </mat-autocomplete>
    </mat-form-field> 
</form>
