main {
    background-color: #c93838; /* Fallback color */
    background-image: url(/assets/images/background.jpg);
}

div {
   /* stretch */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.component {
    min-width: 1000px;
}
.divider {
    height: 2px;
    background-color: #2195f375;
    margin: 20px 0;
}

.test-space {
    height: 250px;
}