<body>
    <main class="landing">
        <app-top-bar></app-top-bar>
        <div class="test-space">
            <h1>test space</h1>
        </div>
    </main>
    <div class="tour-api">
        <app-tour-api class="component"></app-tour-api>
    </div>
    <div class="divider"></div>
    <div class="purchasedata-api">
        <app-purchasedata-api class="component"></app-purchasedata-api>
    </div>
    <div class="divider"></div>
    <div class="admin-api">
        <app-admin-api class="component"></app-admin-api>
    </div>
</body>

<router-outlet />