<body>
    <div class="top-part">
    <div class="user-card">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ name }}</mat-card-title>
            <mat-card-subtitle>My info</mat-card-subtitle>       
        </mat-card-header>
        <mat-card-content>
            <p>Email: {{ email }}</p>
            <p>Username: {{ username }} </p>
        </mat-card-content>
    </mat-card>
</div>
        <header id="page-header">
            <div class="flex-container">
                <h1 class="title">My Bookings</h1>
                <p class="text">Here you can see all your bookings</p>
                
            </div>
        </header>
    </div>
            <section class="tour-results">
                <div class="tour-grid">
                    <div *ngFor="let tour of boughtTours" class="tour-card">
                    <img [src]="'/assets/images/' + tour.destination + '.jpg'" alt="{{tour.destination}}" class="tour-image">
                    <div class="tour-details">
                        <h3>{{formatTourDestination(tour.destination)}}</h3>
                        <p *ngIf="hasDeparted(tour.departureDate)" class="tour-departed">Departed: {{tour.departureDate | date:'mediumDate'}}</p>
                        <p *ngIf="!hasDeparted(tour.departureDate)" class="tour-departure">Departs: {{tour.departureDate | date:'mediumDate'}}</p>
                        <div class="tour-buttons">
                        <button mat-raised-button color="primary" (click)="openDialog(tour)" class="details">Details</button>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
        </body>