<body>
    <mat-card>
        <mat-card-header>
            <mat-card-title>name of user</mat-card-title>
            <mat-card-subtitle>My info</mat-card-subtitle>       
        </mat-card-header>
        <mat-card-content>
            <p>Email: </p>
            <p>Username: </p>
        </mat-card-content>
    </mat-card>
    
        <header id="page-header">
            <div class="flex-container">
                <h1 class="title">My Bookings</h1>
                <p class="text">Here you can see all your bookings</p>
                <mat-divider></mat-divider>
            </div>
        </header>
        <section class="city-gallery">
            <header class="gallery-header">
                <h2>Explore Your Bookings</h2>
            </header>
            <div class="grid-container">

            </div>
    </section>
</body>