body {
  margin: 0;
  background: transparent;
  display: flex;
  flex-direction: column; /* Aligns children (like the grid) to the center */
}

mat-card {
  max-width: 400px;
  margin-bottom: 2em;
  /* If mat-card should start from the left, remove the auto margins */
}
.user-card {
  justify-content: left;
}
#page-header {
  width: 100%;
  text-align: center; /* Keeps "My Bookings" centered */
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  padding-top: 50px;
  
}

#page-header h1 {
  font-size: 32px; /* or larger */
  font-weight: bold;
}

#page-header p {
  font-size: 18px;
}

mat-divider {
  width: calc(100% - 8em); /* Full width minus the padding of the body */
  height: 2px;
  background-color: #e0e0e0;
  margin: 2em 0;
}

.tour-results {
  padding: 20px;
  background-color: white;
}

.top-part {
  padding: 3em;
  font-family: 'Roboto', sans-serif;
  
  background-color: #21212142;
}

.tour-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.tour-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.tour-buttons {
  justify-content: center;
  align-items: center;
  display: flex;
}
.tour-card:hover {
  transform: scale(1.05); /* Enlarge the card on hover */
  transition: transform 0.3s; /* Add a smooth transition */
}

.tour-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.tour-details {
  padding: 15px;
}

.tour-details h3 {
  margin-top: 0;
  color: #333;
}

.tour-price {
  font-weight: bold;
  color: #E53935;
}

.tour-length, .tour-departure {
  color: #666;
  font-size: 0.9em;
}

@media (max-width: 600px) {
  .tour-grid {
    grid-template-columns: 1fr;
  }
}