<body>
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ name }}</mat-card-title>
            <mat-card-subtitle>My info</mat-card-subtitle>       
        </mat-card-header>
        <mat-card-content>
            <p>Email: {{ email }}</p>
            <p>Username: {{ username }} </p>
        </mat-card-content>
    </mat-card>
    
        <header id="page-header">
            <div class="flex-container">
                <h1 class="title">My Bookings</h1>
                <p class="text">Here you can see all your bookings</p>
                <mat-divider></mat-divider>
            </div>
        </header>
        <section class="city-gallery">
            <header class="gallery-header">
                <h2>Explore Your Bookings</h2>
            </header>
            <div class="grid-container">
                <div *ngFor="let tour of boughtTours" class="city" (click)="openDialog(tour)">
                    <img [src]="'/assets/images/' + tour.destination + '.jpg'" alt="{{tour.destination}}">
                    <h2 class="city-name">{{tour.destination}}</h2>
                    <!-- TODO: <h3 class="country-name">Italy</h3> -->

                </div>
              </div>
        </section>
</body>