body {
    background-color: #c93838; /* Fallback color */
    background-image: url(/assets/images/background.webp);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-position: center center;
}



.footer {
    background-color: #08243b;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: start;
    min-height: 15em;
    padding-left: 100px;
    padding-top: 50px;
  }
  
  .footer-column {
    flex-basis: 20%; /* Adjust based on content width */
    padding: 0 10px;
  }
  
  .footer-column h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
  }
  
  .footer-heart {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heartButton {
    margin-right: 4em;
    margin-top: 2em;
}
  
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-column,
    .footer-heart {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
  }

  