<!-- layout.component.html -->
<body>
<nav>
    <app-top-bar></app-top-bar>
</nav>

<router-outlet></router-outlet>


<footer>
    <div class="footer">
      <div class="footer-column">
        <h3>Column 1 Title</h3>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <!-- More items... -->
        </ul>
      </div>
      <div class="footer-column">
        <h3>Column 2 Title</h3>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <!-- More items... -->
        </ul>
      </div>
      <div class="footer-column">
        <h3>Column 3 Title</h3>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <!-- More items... -->
        </ul>
      </div>
      <div class="footer-column">
        <h3>Column 4 Title</h3>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <!-- More items... -->
        </ul>
      </div>
      <div class="footer-heart">
        <button mat-fab matTooltip="Nice" color="primary" class="heartButton">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </footer>
</body>