<body>
    <main>
        <app-top-bar></app-top-bar>
        <router-outlet />
    </main>
</body>
    <!-- <mat-tab-group dynamicHeight>
        <mat-tab label="Tour API">
            <div class="tour-api">
                <app-tour-api class="component"></app-tour-api>
            </div>
        </mat-tab>
        <mat-tab label="PurchaseData API">
            <div class="purchasedata-api">
                <app-purchasedata-api class="component"></app-purchasedata-api>
            </div>
        </mat-tab>
        <mat-tab label="Admin API">
            <div class="admin-api">
                <app-admin-api class="component"></app-admin-api>
            </div>
        </mat-tab>
      </mat-tab-group>
    <div class="footer" #footer>
        <button mat-fab matTooltip="Nice" color="primary" class = "heartButton">
            <mat-icon>favorite</mat-icon>
        </button>
    </div> -->