<body>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Subject</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Enter your email</mat-label>
        <input matInput
               placeholder="pat@example.com"
               required>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Write your message</mat-label>
      <textarea matInput placeholder="SDA Travel Agency is truly amazing. Never had such a good experience..."></textarea>
    </mat-form-field>


    <div class="button-container">
      <button mat-raised-button (click)="openSnackBar()">Send</button>
    </div>

  </form>
</body>



