<main><!-- city-dialog.component.html -->
<div class="content">

<h2>{{formatTourDestination(data.tour.destination)}}</h2>
<p>From: {{data.tour.departureDate | date:'mediumDate' }} To: {{data.tour.returnDate | date:'mediumDate'}}</p>
<p>Length: {{data.tour.length}} days</p>
<p>Price for adults: {{data.tour.adultPrice | currency:'EUR'  }}</p>
<p>Price for children: {{data.tour.childPrice | currency:'EUR'  }}</p>
<p>Number of adults: {{ data.purchaseData.numberOfAdults }}</p>
<p>Number of children: {{ data.purchaseData.numberOfChildren }}</p>
<p class="total-price">Total price: {{ data.total  | currency:'EUR' }}</p>
<!-- Add more content as needed -->
</div>
</main>