/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* .mat-mdc-tab-header { } */
    .mat-mdc-tab.mdc-tab {flex: 1;}
    /* .mat-mdc-tab.mdc-tab:hover { background-color: #5866b4;} */
/* .mat-mdc-tab-body.mat-mdc-tab-body-active {  } */

/* .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label { color: white; }
.mat-mdc-tab .mdc-tab__text-label { color: white!important; } */
.mdc-tab-indicator .mdc-tab-indicator__content.mdc-tab-indicator__content--underline { border-top-width: 5px; }
