.top-nav {
    width: 100%;
    background-color: #f3f3f300; /* Example background color */
}

.top-bar-content {
    display: flex;
    justify-content: space-between; 
    align-items: stretch; /* Align the top bar content to the top and bottom of the top bar */
    height: 100%; /* Set the height of the top bar content */
    /* Add other styles for the top bar content */
}

.header-info-left, .header-info-right {
    display: flex;
    align-items: flex-start; /* Align the header info to the top of the top bar */
    justify-content: center; 
    padding: 0 1em; /* Add padding to the left and right of the header info */
    padding-top: 0.5em; /* Add padding to the top of the header info */
}

.header-info-center {
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;
}

.header-info-right .fab {
    margin-right: 0.5em;
    font-size: 1.5em;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2195f375;
    padding: 0 0; /* Add padding to the top and bottom of the navbar */
}

.navbar a {
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    padding: 0 1em;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover, .dropdown:hover button {
    background-color: #47474734;
}

/* Dropdown Button */
.dropdown button {
    position: relative;
    background: none; /* Match navbar background color */
    color: white; /* Match text color */
    padding: 14px 16px; /* Match padding */
    border: none; /* Remove border */
    cursor: pointer; /* Cursor as pointer */
    text-align: center; /* Center align text */
    text-decoration: none; /* Remove text decoration */
    font-size: inherit; /* Inherit font size from parent */
}



.dropdown-content {

    position: absolute;
    background-color: #2195f375;
    left: 1em;
    top: 100%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}



.dropdown-content a:hover {background-color: #f1f1f1}