.top-nav {
    width: 100%;
    background-color: #f3f3f3; /* Example background color */
}

.top-bar-content {
    display: flex;
    justify-content: space-between; 
    align-items: stretch; /* Align the top bar content to the top and bottom of the top bar */
    height: 100%; /* Set the height of the top bar content */
    /* Add other styles for the top bar content */
}

.header-info-left, .header-info-right {
    display: flex;
    align-items: flex-start; /* Align the header info to the top of the top bar */
    justify-content: center; 
    padding: 0 1em; /* Add padding to the left and right of the header info */
    padding-top: 0.5em; /* Add padding to the top of the header info */
}

.header-info-center {
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2em 2em;
}

.header-info-right .fab {
    margin-right: 0.5em;
    font-size: 1.5em;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 0.5em 0; /* Add padding to the top and bottom of the navbar */
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 2em;
}