<div class="top-nav">
    <!-- Content for the top bar -->
    <div class="top-bar-content">
        <!-- Add content here, like logo, search bar, user info -->
        <div class="header-info-left">
            <a>+372 555 55555</a>
        </div>
        <div class="header-info-center">
            <h1>SDA Travel Agency</h1>
        </div>
        <div class="header-info-right">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
        </div>
    </div>

    <!-- Navbar content -->
    <nav class="navbar">
        <a>Tours</a>
        <a>Destinations</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <!-- Add other navigation links as needed -->
    </nav>
</div>
