<div class="top-nav">
    <!-- Content for the top bar -->
    <div class="top-bar-content">
        <!-- Add content here, like logo, search bar, user info -->
        <div class="header-info-left">
            <a>+372 555 55555</a>
        </div>
        <div class="header-info-center">
            <img src="assets/images/logo3.png" alt="SDA Travel Agency">
        </div>
        <div class="header-info-right">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
        </div>
    </div>

    <!-- Navbar content -->
    <nav class="navbar">
        <ul>
            <li><a href="#home">Tours</a></li>
            <li class="dropdown">
                <button (click)="toggleDropdown()">Destinations</button>
                <div *ngIf="dropdownOpen" class="dropdown-content">
                    <a href="#link1">Cities</a>
                    <a href="#link2">Countries</a>
                    <a href="#link3">Continents</a>
                </div>
            </li>
            <li><a href="#services">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <!-- Add other navigation links as needed -->
    </nav>
</div>
