
<h1 id="header">TOUR API</h1>
<div class="flex-container">
    <!-- JSON Output container -->
    <div class="json-output-container">
        <pre id="jsonOutput"></pre>
    </div>
    <form class = "form-container" id="formContainer">
        <table class="fields">
            <tr>
                <td> 
                        <mat-label>Price Range</mat-label>
                        <mat-slider min="20" max="500" discrete step="10">
                            <input matInput [(ngModel)]="startValue" matSliderStartThumb name="startValue">
                            <input matInput [(ngModel)]="endValue" matSliderEndThumb name="endValue">
                        </mat-slider>
                </td>
                <td>
                        <mat-checkbox matInput [(ngModel)]="checked" name="checked">Promoted</mat-checkbox>
                </td>
            </tr>
            <tr>   
                <td>
                    <mat-form-field class="inputs">
                        <mat-label>Destination</mat-label>
                        <input matInput [(ngModel)]="destination" name="destination">
                    </mat-form-field>  
                </td>
                <td>
                    <mat-form-field class="inputs">
                        <mat-label>User id</mat-label>
                        <input matInput [(ngModel)]="userId" name="userId">
                    </mat-form-field>  
                </td> 
            </tr>
            <tr>
                <td>
                    <mat-form-field class="inputs">
                        <mat-label>Tour id</mat-label>
                        <input matInput [(ngModel)]="tourId" name="tourId">
                    </mat-form-field>   
                </td>  
                <td>
                    <mat-form-field class="inputs">
                        <mat-label>Length of tour</mat-label>
                        <input matInput [(ngModel)]="tourLength" name="tourLength">
                    </mat-form-field>  
                </td>        
            </tr>

            <tr>
                <td>
                    <mat-form-field id="inputs">
                        <mat-label>Departure date between</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                        <input matInput matStartDate [(ngModel)]="minDate" name="minDate">
                        <input matInput matEndDate [(ngModel)]="maxDate" name ="maxDate">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </td>  
            </tr>
        </table>
    </form>
</div>

        <!-- Row for buttons -->
        <tr class="button-row">
            <div class="button-container">
                    <button (click)="getAllTours()">getAllTours</button>
                    <button (click)="findById()">findById</button>
                    <button (click)="findAllByDestination()">findAllByDestination</button>
                    <button (click)="findAllByDepartureDateBetween()">findAllByDepartureDateBetween</button>
                    <button (click)="findAllByLength()">findAllByLength</button>
                    <button (click)="findAllByPromoted()">findAllByPromoted</button>
                    <button (click)="findAllBoughtTours()">findAllBoughtTours</button>
                    <button (click)="findAllByAdultPriceBetween()">findAllByAdultPriceBetween</button>
            </div>
        </tr>
        
    
