<h1 id="header">TOUR API</h1>
<div class="flex-container">
    <!-- JSON Output container -->
    <div class="json-output-container">
        <pre id="jsonOutput"></pre>
    </div>
    <div class = "form-container" id="formContainer">
        <table class="fields">
            <tr>
                <td class="spacer"></td>
                <td><label class="adultprice-label" for="adultprice">adultprice</label></td>
                <td><input class="adultprice-input" type="number" id="adultprice" value="100"/></td>
                <td class="spacer"></td>
            </tr>
            <tr>
                <td class="spacer"></td>
                <td><label class="childprice-label" for="childprice">childprice</label></td>
                <td><input class="childprice-input" type="number" id="childprice" value="50"/></td>
                <td class="spacer"></td>
            </tr>
            <tr>
                <td class="spacer"></td>
                <td><label class="departuredate-label" for="departuredate">departuredate</label></td>
                <td><input class="departuredate-input" type="date" id="departuredate" value="2024-03-17"/></td>
                <td class="spacer"></td>
            </tr>
            <tr>
                <td class="spacer"></td>
                <td><label class="returndate-label" for="returndate">returndate</label></td>
                <td><input class="returndate-input" type="date" id="returndate" value="2024-03-24"/></td>
                <td class="spacer"></td>
            </tr>
            <tr>
                <td class="spacer"></td>
                <td><label class="destination-label" for="destination">destination</label></td>
                <td><input class="destination-input" type="text" id="destination" value="MEXICO_CITY"/></td>
                <td class="spacer"></td>
            </tr>
            <tr>
                <td class="spacer"></td>
                <td><label class="availableseats-label" for="availableseats">availableseats</label></td>
                <td><input class="availableseats-input" type="number" id="availableseats" value="25"/></td>
                <td class="spacer"></td>
            </tr>
            <tr>
                <td class="spacer"></td>
                <td><label class="purchaseDate.userId-label" for="purchaseDate.userId">purchaseDate.userId</label></td>
                <td><input class="purchaseDate.userId-input" type="number" id="purchasedate.userid" value="1"/></td>
                <td class="spacer"></td>
            </tr>
            <tr>
                <td class="spacer"></td>
                <td><label class="user.id-label" for="user.id">user.id</label></td>
                <td><input class="user.id-input" type="number" id="user.id" value="1"/></td>
                <td class="spacer"></td>
            </tr>
            <tr>
                <td class="spacer"></td>
                <td><label class="tour.id-label" for="tour.id">tour.id</label></td>
                <td><input class="tour.id-input" type="number" id="tour.id" value="6"/></td>
                <td class="spacer"></td>
            </tr>
            <tr>
                <td class="spacer"></td>
                <td><label class="promoted-label" for="promoted">promoted</label></td>
                <td><input class="promoted-input" type="checkbox" id="promoted" /></td>
                <td class="spacer"></td>
            </tr>
            <tr>
                <td class="spacer"></td>
                <td><label class="mindate-label" for="mindate">mindate</label></td>
                <td><input class="mindate-input" type="date" id="mindate" value="2024-03-19"/></td>
                <td class="spacer"></td>
            </tr>
            <tr>
                <td class="spacer"></td>
                <td><label class="maxdate-label" for="maxdate">maxdate</label></td>
                <td><input class="maxdate-input" type="date" id="maxdate" value="2024-03-21"/></td>
                <td class="spacer"></td>
            </tr>
            <tr>
                <td class="spacer"></td>
                <td><label class="minprice-label" for="minprice">minprice</label></td>
                <td><input class="minprice-input" type="number" id="minprice" value="500"/></td>
                <td class="spacer"></td>
            </tr>
            <tr>
                <td class="spacer"></td>
                <td><label class="maxprice-label" for="maxprice">maxprice</label></td>
                <td><input class="maxprice-input" type="number" id="maxprice" value="750"/></td>
                <td class="spacer"></td>
            </tr>
            <tr>
                <td class="spacer"></td>
                <td><label class="days-label" for="days">length</label></td>
                <td><input class="days-input" type="number" id="days" value="2"/></td>
                <td class="spacer"></td>
            </tr>
        </table>
    </div>
</div>
        <!-- Row for buttons -->
        <tr class="button-row">
            <div class="button-container">
                    <button (click)="getAllTours()">getAllTours</button>
                    <button (click)="findById()">findById</button>
                    <button (click)="findAllByDestination()">findAllByDestination</button>
                    <button (click)="findAllByDepartureDateBetween()">findAllByDepartureDateBetween</button>
                    <button (click)="findAllByLength()">findAllByLength</button>
                    <button (click)="findAllByPromoted()">findAllByPromoted</button>
                    <button (click)="findAllBoughtTours()">findAllBoughtTours</button>
                    <button (click)="findAllByAdultPriceBetween()">findAllByAdultPriceBetween</button>
            </div>
        </tr>
    
